* {
  font-size: xx-large;
  user-select: none;
}

body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
  width: 60vw;
}

table, th, td {
  border: 2px solid rgb(41, 41, 83);
}

td, th {
  text-align: left;
  padding: 8px;
}

thead tr {
  background-color: rgb(41, 41, 83);
  color: #fffeee;
}

tr:nth-child(even) {
  background-color: #dddddd;
  color: rgb(41, 41, 83);
}

tbody tr {
  transition: background 0.2s ease-out;
}

tbody tr:hover {
  background-color: bisque;
}

input[type=number] {
  margin: 0 5px;
  width: 50%;
}

#cesta {
  width: 35vw;
  min-width: 625px;
}