extends layout

block content
    h1 Editar animales
    form(method="POST", action="javascript:update()")
        input(type="hidden", id="old_name", value="#{name}", required)
        input(type="text", id="new_name", value="#{name}", placeholder="Nombre:", required)
        input(type="text", id="new_age", value="#{age}", placeholder="Edad:", required)
        input(type="text", id="new_type", value="#{type}", placeholder="Tipo:", required)
        input(type="submit", value="Actualizar")
    hr
    p #[a(href="/") Volver]
    script(src="/javascripts/script.js")