extends layout

block content
    #main_clients
        a(href="/clients/register")#new_client Nuevo cliente
        hr
        table
            thead
                tr
                    th DNI
                    th NOMBRE
                    th APELLIDO
                    th
            tbody
                each client in clients
                    tr
                        td=client.dni
                        td=client.name
                        td=client.lastname
                        td
                            a(href='clients/'+client._id+'/edit') Editar