extends layout

block content 
  #main_index
    a(href="/clients" title="title").index-link GESTIÓN CLIENTES
    a(href="/rooms" title="title").index-link GESTIÓN HABITACIONES
    script.
      document.getElementById("goback").style.visibility = "hidden"